/* SCREEN SIZES
Tablet: max-width: 768px
Phones: max-width: 480px
*/

.portContainer{
    background-color:#fff;
    padding: 8% 12% 10% 12%;
    /* overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth; */
    /* display: block; */
}

.portContainer h2 {
  text-align: center;
  letter-spacing: 25px;
}

.portContainer h3 {
  text-align: center;
  padding-bottom: 8%;
  font-weight:400;
  letter-spacing: 10px;  
}

.descbox{
  background-color:white;
  width:49.65%;
  vertical-align: top;
  /* width:50%; */
  /* max-width:50%; */
  /* height: auto; */
  display:inline-block;
  flex:1;
  min-height:100%;
  box-sizing: border-box;
  padding:15% 5% 5% 5%;
  /* text-align:center; */
}

.portContainer .descbox h2{
  color:#576dce;
  font-size: 24px;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
  font-weight:500;
  letter-spacing: 1px;
  /* position: fixed;
  top: 30%;
  transform: translateY(-50%); */
}

.portContainer .descbox h3{
  color:#a6a6a6;
  font-size:15px;
  margin-top: 2%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  /* position: fixed;
  top: 27.5%;
  transform: translateY(-50%); */
}

.portContainer .descbox p{
    color:#576dce;
    font-size: 15px;
    line-height: 28px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 20px;
    /* position: fixed;
    top: 40%;
    transform: translateY(-50%); */
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.prev, .next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.rows {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* four columns */
  .column {
    flex: 25%;
    max-width: 24%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 1s forwards;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .rows .column img:hover {
    /* background-color:rgb(255,255,255,0.6); */
    /* /* filter: brightness(130%);  */
    filter: sepia(70%) saturate(120%); 
    transition: 0.5s ease;
    /* transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease; */
}

  /* Set different delays for each image */
  /* .rows .column img:nth-child(1) {
    animation-delay: 0.3s;
  }

  .rows .column img:nth-child(2) {
    animation-delay: 0.6s;
  } */

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

  /* .column img:hover{
    opacity: 0.7;
  } */

  /* changing text after scrolling */
  .beforeScroll
{
  height: 100px; 
  width: 100%; 
  display: none;
}

/*Use this class when you want your content to be shown after some scroll*/
.afterScroll
{
  height: 100px; 
  width: 100%; 
  display: block;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.enlarged {
  padding: 10% 10% 10% 20%;
  height: auto;
  flex:inline-block;
}

.enlarged img {
  max-width: 40%;
}