.section {
    margin: 5% auto 10% 3%;
}

.sectionHeader{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    color: #576dce;
}

.text {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    height: 70%;
    align-items: start;
    margin: 2% 2% 2% 0;
}

.lineBreak {
    height: 25px;
    width: 100%;
}

.col {
    flex: 50%;
    margin-right: 3%;
    left: 0;
    top:0;
} 

@media screen and (max-width: 768px) {
    .row {
         flex-direction: column;
    }
 
    .col {
     margin-bottom: 5%;
    }
 }