/* SCREEN SIZES
Tablet: max-width: 768px
Phones: max-width: 480px
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

/* BACKGROUND */
.container{
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    /* background-image: linear-gradient(rgba(48, 48, 48, 0.7),rgba(48, 48, 48, 0.7)), url(/assets/sea_on_rocks.jpg); */
    background-image: url(/assets/torrent.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 4%;
    padding-right: 4%; 
    box-sizing: border-box;
    position: fixed;
    scroll-behavior: smooth;
}

/* NAVIGATION */
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.navbar{
    flex: 1;
    text-align: right;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    /* margin-left: 80px; */
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    /* font-size: 13px; */
    font-size: 1.05rem;
    padding: 1.1rem 1.6rem;
    line-height: 1;
    border-radius: 2rem;
    transition: .4s ease;
    font-family: 'Inter', sans-serif;
    font-weight:500;
}
.navbar ul li .active,
.navbar ul li a:hover{
    color:#576dce;
    background: #fff;

}

.submenu-1{
    display: none;
}

.navbar ul li:hover .submenu-1{
    display: block !important;
    position: absolute;
    margin-top: 40px;
    margin-left: -10px;
}

.navbar ul li a:hover .submenu-1 ul{
    display: block !important;
    color:#576dce;
    margin: 5px;
    padding: .7rem 1.2rem;
    line-height: 1;
    border-radius: 2rem;
    transition: .4s ease;
}

/* HOMEPAGE TEXT ALIGNMENT */
.homerow{
    display: flex;
    height: 88%;
    align-items: center;
}

.homecol{
    flex-basis: 30%;
}

/* TEXT */
h1{
    color:#fff;
    font-size: 100px;
    font-family: 'Playfair Display', serif;
}

h2{
    color:#576dce;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    text-align: left;
}

h3
{
    color:#576dce;
    font-size: 20px;
    line-height: 28px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

p{
    color:#fff;
    font-size: 18px;
    line-height: 23px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.whiteBlock{
    background-color:#fff;
    background-blend-mode: lighten;
    display: block;
    margin: 0px !important;
    height: 800px;
    padding:5% 5% 5% 5%;
    border-radius:3px;
}

.floated{
    float: left;
    width: 600px;
    padding-left:0px;
    padding-right: 40px;
    padding-top:25px;
    padding-bottom:40px;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: linear-gradient(rgb(255, 255, 255), rgb(157, 163, 187));
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #24326f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8c8c8c;
}